body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 40px;
}

#btn-group {
    margin-top: 50px;
    width: 500px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.boton {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(53, 200, 236, 0.548);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.88);
    border: 1.5px solid;
}

.boton:hover {
    cursor: pointer;
    background-color: rgba(27, 160, 209, 0.884);
}

.boton:active {
    background-color: rgba(24, 140, 192, 0.88);
}

#enviar {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 35px;
    border-radius: 15px;
    border: 1px solid;
}

#enviar:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

#enviar:active {
    background-color: rgb(194, 193, 193);
}
